* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #0f172a;
  color: white;
}

.navbar {
  position: sticky;
  top: 0;
  background: #020617;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 25px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.hero {
  height: 100vh;
  position: relative;
}

.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-text h1 {
  font-size: 3rem;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  background: purple;
  color: white;
  border-radius: 30px;
  text-decoration: none;
}

.stats {
  display: flex;
  justify-content: space-around;
  padding: 60px;
  background: #111827;
}

.page {
  padding: 80px;
  text-align: center;
}

.page img {
  width: 60%;
  margin-top: 20px;
  border-radius: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 40px;
}

.card {
  background: #1e293b;
  padding: 30px;
  border-radius: 15px;
  width: 220px;
}

.card img {
  width: 60px;
}

.testimonials {
  padding: 60px;
  text-align: center;
}

.testimonial-box {
  display: inline-block;
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
  width: 220px;
  margin: 15px;
}

.testimonial-box img {
  width: 60px;
  border-radius: 50%;
}

.contact-form {
  max-width: 400px;
  margin: auto;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}

.contact-form button {
  padding: 12px;
  width: 100%;
  background: purple;
  color: white;
  border: none;
}
.success-msg {
  margin-top: 20px;
  color: lightgreen;
  font-weight: bold;
}

